<log4net>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString"  value="C:\Data\Log\AdminDashboardService\Admin.%utcdate{yyyy-MM-dd}.txt" />

		<appendToFile value="true" />
		<rollingStyle value="Composite"/>
		<maximumFileSize value="1000MB" />
		<maxSizeRollBackups value="2" />
		<threshold value="INFO" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%property{log4net:HostName} %d %-5level [%thread]: %message%newline">
			</conversionpattern>
		</layout>
	</appender>
	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%property{log4net:HostName} %date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
		</layout>
	</appender>
	<root>
		<level value="TRACE" />
		<appender-ref ref="RollingFile" />
		<appender-ref ref="TraceAppender" />
	</root>
</log4net>
