<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--<security>
      <requestFiltering>
        <verbs>
          <remove verb="OPTIONS" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>-->
    <!--<handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>-->
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" forwardWindowsAuthToken="true" arguments="%LAUNCHER_ARGS%">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
  <system.web>
    <identity impersonate="false" />
  </system.web>
</configuration>